<body style=" background-color:#0065bd; background-repeat:no-repeat;    text-align:center;">

 <span style="font-size:20px; color:#fff; padding:40px; border:1px solid #fff; position:relative;top:20%;">
Thank you for subscribing to Semi Conductor Influencers! We will send you more information soon.</span>
 
 </body>