html {position:relative; min-height: 100%;}
footer {position: absolute; bottom: 0;}
body {
    margin-bottom: 100px;
}
body.node-type-homepage {background-color:#f1f1f1;}
#admin-menu, #admin-menu .dropdown {z-index:9999;}

.logged-in header {
    margin-top: 0px;
}

.mck-footer__copy {font-size:14px;}
nav.mck-nav-main li a {
    font-size: 14px;
}

.mck-nav-main li.is-active a {
    font-size: 14px;
}
.mck-header__portal-title {
    font-size: 14px;
}
.mck-header a {
    color: black;
}
.mck-header {box-shadow: none;}

#page {margin-top:0; width:auto;}
#main {width:1210px !important; }

nav.mck-nav-main ul li {
    margin-bottom: 0;
}

.field-name-field-image-left {float:left; width: 412px; }
.field-name-field-image-right {float:right; width:798px; height:448px; }
h3.carousel-right-text {
    font-size: 50px !important;
    text-align: center;
	top: 180px !important;
}

h3.carousel-left-text, h3.carousel-right-text {
    position: relative;
    top: -280px;
    left: 40px;
	font: 20px/25px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold !important;
    padding: 0 0 5px;
    border: none !important;
    margin-bottom: 20px;
}
.carousel-slide {
    height: 448px;
}
.whymck-carousel {
    height: 448px;
    position: relative;
    margin-bottom:60px;
}
.carousel-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
}
.hp-bucket {
    float: left;
    width: 280px;
    margin-right: 30px;
    background-color: green;

}
.hp-bucket.last {
 margin-right:0;
}
.hp-bucket i {
	color:white;
	width: 50px;
    height: 50px;
    font-size: 50px;
    margin: 50px auto;
    display: block;
}
.bucket0 {
	background-color: #ff7500;
}
.bucket1 {
	background-color: #00a4b0;
}
.bucket2 {
	background-color: #1972c6;
}
.bucket3 {
	background-color: #d4343d;
}
.hp-bucket i.fa-pencil-square-o { color:#e85c00;}
.hp-bucket i.fa-calendar { color:#008b97;}
.hp-bucket i.fa-users { color:#0059ad;}
.hp-bucket i.fa-map-marker { color:#ad2b32;}
.bucket-content {
	background-color: #fff;
	height: 260px;
	padding:32px;
	color:#000;t
}
.bucket-content p strong {
	font-family: "HelveticaNeueBold";
	font-size: 22px;
}
.bucket-content p {
	font-family: "HelveticaNeue";
	font-size: 18px;
    line-height: 1.4em;
}
.hp-bucket-wrap {
/*	border-top:1px solid #000;*/
	margin-top:35px;
/*	padding-top: 40px;*/
}
.node-homepage .field-name-body h5 {
	color:#002960;
	padding-bottom: 10px;
}
.node-homepage .field-name-body {
	color:#000;
	font-size: 24px;
	line-height: 1.3em;
}

.field-name-body .field-label{
	display:none !important;}
	
.node-homepage .field-name-body p {
	line-height: 1.8em;
}
a.left.slick-arrow {float:left;}
a.right.slick-arrow, a.left.slick-arrow {
    display: block;
    background-color: #fff;
    padding: 5px 18px 5px 19px;
    border: 1px solid #E5E5E5;
}
a.right.slick-arrow:hover, a.left.slick-arrow:hover {
    background-color: #0065BD;
    border-color: #0065BD;
    color: #FFF;
    text-decoration: none;
}
a.right.slick-arrow {border-left:none;}

span.quote-left, span.quote-right {
    color: #fff;
    font-size: 160px;
    position: absolute;
    left: 110px;
    top: 30px;
}

span.quote-right{
    right: -360px;}

#video-slider_html5_api {
    position: absolute;
    top: 0;
    width: 720px;
    cursor: pointer;
}

#video-slider2_html5_api {
    position: absolute;
    top: 0;
    width: 720px;
    cursor: pointer;
}


.vjs-play-control {
   width: 100%;
   height: 448px;
   cursor: pointer;
   position: relative;
   /*left: 412px;
   text-indent: -9999em;*/
   outline:none;
}
.vjs-big-play-button {
   display: none !important;
}
.vjs-mute-control {
   position: relative;
   left: -20px;
}

.running-time {
	position: absolute;
    z-index: 9999;
    top: 350px;
    margin-left: 75px;
    color: #00adf1;
    font-weight: bold;
    font-size: 14px;
}


/***** bx slider -***/


.bxslider-wrap {position:relative; height:405px; overflow: hidden; }
.bx-controls { display: none;}
.bxslider .left {
  width:490px;
  height:405px;
  float: left;
}

.bxslider .right {
  width:720px;
  height:405px;
  float:left;
}

.carousel-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
}

a.bx-next, a.bx-prev {
    text-indent: -999em;
    display: block;
    width: 51px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;

}
a.bx-prev {
    left:50px;

}

.home-description {
	    padding: 30px !important;
    background-color: #fff !important;
    line-height: 150% !important;
    font-weight: 200 !important;
    font-family: helveticaneue !important;
    border: 1px solid #ccc !important;
}
