@media only screen and (max-width: 600px) {
	.hyatt-info{    width: 100%;
    padding: 20px !important;
    background-color: #ddd;
}
	.threecol-items-inner{padding:20px !important; width:100%;}
	.threecol-items .row {
    width: 100%;
}
.contactus-section.clearfix{cursor: pointer;
    padding: 0px !important;
    width: 100%;
    height: auto;
    margin: 0px;}
	
div.hyatt-section, .joinus-section, .contactus-section.clearfix, .joinus-section-inner, .contactus-section-inner{height:auto !important; width:100%;}
.threecol-items{height:auto;}
	 div.internal-content h3, .node-inner h3, .contact-left h5{   margin: 0px 0 10px 0 !important;
    padding: 0px;    font-size: 1em !important;
    width: 100%;}
	.threecol-items a.readbios, a.getdirections-btn, a.registernow-btn, a.contactus-btn{width: 100%;    margin: 20px auto;}
	.contact-left h5{    font-size: 1em;
    padding: 0px;
    margin: auto 0px;}
	.contactus-section-inner{padding:20px;}
	.contact-left{    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: inherit;}
.threecol-items h3 {
	margin: 0 0 10px !important;
    padding: 20px;
    text-align: center;
}
.threecol-items .item, .contact-right {
    width: 100% !important; float:none;
}
.accordion div.internal-content{width:60% !important;}
.threecol-items .name-info {
    margin-left: 10px;
    width: 51%;
}
.right-location{width:100% !important;}
#main {
	width:auto !important;
}
.mobile-hidden {
	display:none !important;
	visibility: hidden;
}
.desktop-hidden {
	display:block;
	visibility: visible;
}

/*Login page*/
	.page-toboggan-denied #page{
		width:100%; 
		margin-top:0px;
		background-size:100%;
	}

.login-authentic #content-header{
	       background-size: 120% auto;
    height: 160px;
    background-position: 0px 20px;
	}

		.login-authentic #page #main {
    margin: 0 auto;
    width: 100% !important;
    margin-top: 8px;
}

  .mobile-version {
  	display: block;
  }
	.web-version {display:none;
	}
	
	#page{
		margin-top:0px;
	}

	.form-item .description {
    font-size: 0.8em !important;
    margin-top:20px; 
}

.page-toboggan-denied #page #user-login {
    width: 267px;
    margin: 0px auto;
  text-align: center;
}


.page-toboggan-denied #page #user-login .form-submit, input#edit-submitted-please-upload-a-bio-file-to-be-included-in-the-participant-list-upload-button.form-submit, input#edit-submit {
    height: 46px;
    width: 134px;
    font-size: 0.8em;
}


.form-text, .form-textarea {
    box-shadow: none !important;
    border: 1px #dadada solid !important;
    font-size: .8em;
    padding: 10px;
}

/*Agenda page*/
	#agenda-shell{    width: 100%;
    overflow: hidden;
    padding-left: 0px;
}

div.directions-wrap {
	background-color:#cd202c;
	padding: 5px;
    padding-left: 30px;}
	
	div.directions-wrap h2{
    color: #fff !important;}

/*General*/

body {overflow-x: hidden;
	}

	body, .wrapper{
   width: auto;
   min-width: 0px;
}

#content,div.content, .node-inner, div.field {
	width: auto;
   min-width: 0px;
}

	#wrapper {
	  width: auto;
   min-width: 0px;
}


/*Experts*/
	h3.mobile-expand.expandable{
		width: auto;
    min-width: 253px;
    font-size: 1.2em !important;
}

#page .exp .internal-content{
		width:auto !important;
	}


/*home page*/
.front #main, .front #footer {
    width: 100% !important;
}


.home-description h4 {
	font-size:12px !important;
	    padding-top: 0 !important;
    margin-top: 0;
}

.hp-bucket i {

    width: 48px;
    height: 50px;
    font-size: 2em;
    margin: 10px auto;
    display: block;
	background-color: rgba(255,255,255,.2);
    margin-left: 10px;
    margin-right: 25px;
}
 

.bxslider-wrap {height:auto;}
.bx-wrapper { height:auto; }
.carousel-navigation { 
width: 100%;
position: relative;
}
a.right.slick-arrow, a.left.slick-arrow {
width: 50%;
}
a.bx-prev {
	width:50%;

    right: 0;
    left: initial;
}

a.bx-next {
	width:50%;




}
.left.slick-arrow span, .right.slick-arrow span {
margin: 0 auto;
    width: 40px;
    display: block;
    height: 31px;
}
.front h4 {
	font-size:16px;
}

p.mobile-title {
	font-size:18px;
}

.mck-nav-main {
	overflow:visible;
	background-color:#00aeef;
}
.mobile-menu-wrap {
	width:203px;
	background:white;
	overflow:hidden;
	height:auto;
	position: relative;
	left: 100px;
	opacity: 0;
	top: 10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.open { 
	right:0;
	opacity: 1;
}
.mobile-menu-wrap.open {
	left: -130px;
}

.mobile-menu-wrap ul li{
    padding: 0;
    position: static !important;
    line-height: 0;
    border-bottom:1px solid #e9e9e9











;
    margin-bottom: 0;
}
nav.mck-nav-main ul li.last {
	padding:0 !important;
}
.mobile-menu-wrap ul li.active-trail{ 
background:#7bb50c;
}
.mobile-menu-wrap ul li.active-trail a{ color:white; }
.mobile-menu-wrap ul li:hover{ background-color:#7bb50c; }
.mobile-menu-wrap ul li:hover a{color:white; font-weight: bold;}

.mobile-menu-wrap  {
border-right:4px solid #e9e9e9;
}

.mobile-menu-wrap ul li a {
width: 100%;
display: block;
height: 30px;
padding: 20px 30px;
color: white;}

.menu-2297.active-trail.is-active.active a {
	width: 206px;
}
.hp-bucket-wrap {
	border:none !important;
	margin-top: 0;
	padding-top: 0px !important;
}

.home-description {
	    padding: 30px !important;
    background-color: #fff !important;
    font-size: 18px !important;
    line-height: 150% !important;
    font-weight: 200 !important;
    font-family: helveticaneue !important;
    border: 1px solid #8DE0FF !important;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* TRAVEL PAGE */
.travel-page h1 {
display: none;
}
.right-inner {
	padding:20px;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
	width:auto;
}
.col1.first {
	    border-bottom: 1px solid #ccc;
    color: #000;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#fff;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	    color: #CD202C;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 120px;
    float: left;

    margin-right: 10px;
}


.right-inner ul { 
	margin-bottom: 0;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}

.right-location div.times{    margin: 20px 30px;}

.right-inner .col1 {
	width:auto;
}
/** END travel page **/


/** Registration Page **/

.webform-confirmation p {
    padding: 20px;
}
div#node-9 h1 { color:#000;}
div#node-9 div.content,div#node-113 div.content {
	width:auto;
	margin-left: 0;
}
div#node-9 h1,div#node-113 h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    line-height: 24px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

form.webform-client-form{    background-color: #fff;
    padding: 30px;}

div#node-9 div.content,div#node-119 div.content {
    
    text-align: left;
    margin: 0 auto;
}
#node-9 .field-name-body p { text-align: center; padding: 20px;
    line-height: 145%;}

form#webform-client-form-9 div.webform-component-textfield input, form#webform-client-form-9 div.webform-component-email input{
	height: 30px;
	
	margin-bottom: 25px;
	width: 100% !important;
}

form#webform-client-form-9 div.webform-component-textfield input {
	display: none;
	margin-bottom: 25px;
	width: 100% !important;
}
form#webform-client-form-9 div.webform-component-textfield input.required {
	display: block;
	margin-bottom: 25px;
} 

form#webform-client-form-9 div label[for="edit-submitted-business-street"],
form#webform-client-form-9 div label[for="edit-submitted-business-state"],
form#webform-client-form-9 div label[for="edit-submitted-business-city"],
form#webform-client-form-9 div label[for="edit-submitted-business-postal-zip-code"],
form#webform-client-form-9 div label[for="edit-submitted-business-country"],
form#webform-client-form-9 div label[for="edit-submitted-assistants-name"],
form#webform-client-form-9 div label[for="edit-submitted-assistants-phone"], 
form#webform-client-form-9 div label[for="edit-submitted-assistants-e-mail-address"],
#edit-submitted-assistants-e-mail-address {
	display: none;
}

#webform-component-business-city,
#webform-component-business-state,
#webform-component-business-phone,
#webform-component-business-postal-code,
#webform-component-business-country,
#webform-component-assistants-name,
#webform-component-assistants-phone,
#webform-component-assistants-e-mail-address
{
	display: none;
}

form#webform-client-form-9 div label {
display: block;	
text-align: center;	
margin-left: 10px;	
width: auto;	
margin: 0;	
margin-left: 10px;	
float: none;
color:#5a6d8d;
}
#webform-component-attendance h2{
text-align: center;
}

#edit-submitted-event label {
	display: none;
}

form#webform-client-form-9 div.webform-component-checkboxes {
    padding: 0;
    margin: 0 0 15px;
    padding-left: 20px;
    padding-right: 10px;
}

#webform-component-accomodations, #webform-component-hotel-reservation, #webform-component-transportation,
#webform-component--please-note-that-you-will-be-responsible-for-your-transportation-to-and-from-the-airport,
#webform-component-dietary-requirements-etc,
#webform-component-dietary-restrictions,
#webform-component-additional-comments {
	display: none;
}
#webform-client-form-9 .form-submit,#webform-client-form-113 .form-submit.    {
	margin-top:40px !important;
	    margin-top: 40px !important;
    background-color: #00aeef !important;
    width: 280px !important;
    text-transform: uppercase;
}
div#webform-component-hotel-reservation p {
    font-size: 12px;
}
form#webform-client-form-9 div.webform-component-markup h2 {
	border: none;
}
/** END Registration Page **/

/** Feedback Page **/
div#node-113 {
    padding: 0 20px;
}

div#node-113 #edit-submit {
    margin-top: 20px !important;
}
/** END Feedback Page **/

/** Recap Page **/
.guest-speaker-intro {
	float:none;
	border:none;
	width:100%;
	text-align: center;
	height: auto;
}

div.topic-questions-list {
	height:auto;
}

.guest-speaker {
	float: none;
	width:auto;
	margin:0;
	margin-top:10px;
}
.guest-speaker img {
	width:135px;
	margin-left:0;
	margin-right:10px;
	padding-right: 0;
	margin-bottom: 10px;
}
ul.expanding_nav {
	margin-left:0;
}
ul.expanding_nav li,
ul.expanding_nav li.active {
	width:135px;
	float: left;
    margin-right: 10px;
    border-radius: 10px;
    padding: 14px;
}

ul.expanding_nav li {
	padding: 14px;
}
#node-23 h1 {display:none;}

#node-23 .mck-wrap {
	padding:0;
	margin-top:60px;
}
.mck-portal-section--header p.large, .mck-portal-section p.large {
    font-size: 12px !important;
    margin-bottom: 0;
}
.mck-portal-section p {
	font-size: 12px !important;
}
#node-23 .mck-portal-section {
	padding:10px;
	border-bottom: none;
	padding-bottom: 0;
}
#node-23 .mck-portal-section table{
	font-size: 10px;
}
#node-23 .web-version {
	display:block!important;
	margin-top:10px;
}
.guest-speaker-intro {
	margin:0;
	padding:0;
}
.guest-speaker-intro h4 {
	font-size:12px;
	text-align: left;
	margin:0;
	font-weight: bold;
}
.main-presenters {
	margin-top:0;
	margin-bottom: 0;
}
.guest-speaker h5 {
	margin-bottom:10px;
	font-size: 14px;
}
.guest-speaker p.grey {
	font-size: 12px;
}
.guest-speaker:nth-child(2) {
	clear:left;
}
.large {
	font-size: 12px;
}
div.topic-questions-list {
	background-image:none;
	padding:10px;
}
.topic-questions-list li {
    font-size: 12px;
    line-height: 14px;
}
.topic-questions-list ul {
	float:left;
}

/** END Recap Page **/

/** Event table **/
.page-node-15 {background: #fff !important;}
#node-15 h1 {display: none;}
#node-15 {margin-top: 0;}
.table-wrap, .table-row {
	width:auto;
	    min-height: 350px;
}

.table-row {
	width:100%;
	height: auto;
	border-bottom:1px solid #dcdcdc;
	min-height: 70px;
	padding-left: 20px;
	padding-top: 14px;
}

.event-time {
	width: 40px;
	float: left;
	font-size:1.1em;
}
.event-time strong {
	display: block;
}

.event-info {
    float: left;
    font-size: 1.1em;
    line-height: 1.2em;
    border-left: 2px solid #cd202c;
    padding-left: 20px;
}
.date-switch{
	margin-top:20px;
	margin-left: 10px;
}
.date-button {
    background-color: transparent;
    float: left;
    width: 140px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #00adef;
    border:1px solid #00ADEF;
}
.date-table2 {
	margin-right: 0;
}
.section1, .section2 {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	top: 60px;
}
.section2 {display: none;}
.date-button.active {
	background-color: #00adef;
	color:#fff;
}

#node-16 h1 {display:none;}#node-16 { padding:20px;}
#node-16 a[href*="mckinsey"] { 
	width: 240px;
	    word-wrap: break-word;
	    display: block;
}


/** END Event table **/

#webform-client-form-113 > div > div > label {
	display: block;
}
.page-node-113 .content {
    margin-top: 80px;
}

.homepage-hero {
	height: auto !important;
}
/** UPDATED OCT 30 **/
.fourcol-items .item{
    cursor: pointer;
    width: 100%;
    max-width: 100%;}
img.sces-banner{
width: 90%;
    position: relative;
    top: 20px;}

#h1wrap{
    position: relative;
    padding: 0;

}

#h1wrap p {
	padding:20px;
}

h1 span.h1desc{
   
 width: 100%;

    font-size: 14px;

    border: none !important;

    padding: 0px;
}


#node-15 h1 {
    display: block;
    background-size: cover;
    /* margin-top: 70px; */
}
h1{
	background-size: cover;
	min-height:80px;
}
.into-text {
  	width: 80%;
    line-height: 150%;
    text-align: center;
    font-family: HelveticaNeueLight, Arial, Sans-serif;
    letter-spacing: .7px;
    font-size: 15px;
    margin: 0px auto;
    padding: 0px;
}

.into-text strong {
    font-size: 18px;
}

.mck-portal-section{padding:0px;}

/** END UPDATED OCT 30 **/
ul.mck-portal-more-items__list fourcol-items{padding:0px;}

.mck-header__portal-title img {
	height:auto !important;
	left: -50px;
}

.accordion span.mck-icon__carrot-down, .accordion span.mck-icon__carrot-up {
	top: 10px;
	margin-right: 10px;
}

.contact-left, .contact-right  {
	float: none;
	height: auto;
}
.footerlinks {
	float: left;
	margin-top: 0;
}

.newfooter, #page:after {
    height: auto !important;
}

h3.join2 {
    font-size: 15px !important;
}
.threecol-items .img-wrap {
	width:40%;
}

.position-title {
	font-size: 12px !important;
}

.name-info h2 {
	font-size: 14px !important;
}


.mck-header {
	height: 55px !important;
}
.mck-content.mck-wrap.fourcol-items-wrap {
    padding: 0;
}

.mck-portal-more-items__list.fourcol-items {
	padding:0;
}

.left-location {
	width:100%;
}
.left-location img {
	width:100%;
	min-width:100%;
}

.page-node-129 h1 {
	/* margin-top:90px; */
}
div.contact-us-container {
	width:100%;
}

.page-node-14 h1, .page-node-133 {
}
#node-141 h1 {
	/* margin-top: 70px; */
}

.page-node-133 h1 {
	margin-top: -30px;
}

form#webform-client-form-129 .form-text {
	float: none;
	width: 100%;
}
.webform-container-inline label {
	display: block;
}
form#webform-client-form-129 {
	width: 100%;
}

form#webform-client-form-129 div.form-item, form#webform-client-form-129 div.form-actions {
	padding: 20px;
    padding-bottom: 0;
}
form#webform-client-form-129 div.form-textarea-wrapper {
	float: none;
	width: 100%;
}
form#webform-client-form-129 div#edit-actions {
	float: none;
	width: 100%;
	margin-top: 0;
}

#primary {
	position: static;
	width: 100%;
}
#mck-nav-main {
background-color: #00aeef;
width:70px;
height: 70px;
position: absolute;
right: 0;
 }

 .default-header {
 	height:70px;
 }
 .default-logo {

    margin-top: 8px;
    margin-left: 20px;
    min-width: 120px;
    margin-right: 100px;
 width: 60%;
}

#primary li a {
	font-size: 14px;
}
#primary li a.active {
	color:white;
}
nav#mck-nav-main ul li.last {
	padding: 0;
}


.page-node-141 .content, 
.page-node-15 .content, 
.page-node-14 .content, 
.page-node-129 .content {
	margin-top:0;
}

 #main {
 	padding-top: 70px;
 }

 div.contact-us-container {
 	min-width: 0;
 }

} /** end mobile styles **/


/**
**
** IPHONE LANDSCAPE STYLES
**
**
**/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.right-location{width:100% !important;}
p.mobile-title {
	padding-top:4%;
}
#webform-client-form-113 > div > div > label {
	display: block;
}
div#node-113 #edit-submit {
	font-size:16px;
}
.mobile-menu-wrap ul li a {
    width: 100%;
    display: block;
    height: 40px;
    padding: 10px 40px;
}
.mck-nav-main li.is-active a {
    font-size: 12px;
}

h3.join2 {
    font-size: 15px !important;
}

.position-title {
	font-size: 12px !important;
}

.name-info h2 {
	font-size: 14px !important;
}

 #main {
 	padding-top: 70px;
 }

 div.contact-us-container {
 	min-width: 0;
 }

}
/** END LANDSCAPE IPHONE STYLES **/

/**
**
** TABLET STYLES
**
**
**/

@media only screen and (min-width: 601px) and (max-width: 1100px) {

	.right-location{width:100% !important;}
#main {
	width:auto !important;
	margin-bottom:0 !important;
}
header #main {
	margin-bottom:100px !important;
}
.mck-nav-main {
	overflow:visible;
	background-color:#00aeef;
	top:32px;
}
.mobile-menu-wrap {
	width:211px;
	background:white;
	height:auto;
	position: relative;
	left: 100px;
	opacity: 0;
	top:10px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.open { 
	right:0;
	opacity: 1;
}
.mobile-menu-wrap.open {
	left:-131px;
}
nav.mck-nav-main ul li.last {
	top:0px !important;
	padding:0 !important;
}

.bxslider-wrap {height:auto;}
.bx-wrapper { height:auto; }
.carousel-navigation { 
width: 100%;
position: relative;
}
a.right.slick-arrow, a.left.slick-arrow {
width: 50%;
}
a.bx-prev {
	width:50%;

    right: 0;
    left: initial;
}

a.bx-next {
	width:50%;
}
.front #page {
	margin-top: 0;
}
.left.slick-arrow span, .right.slick-arrow span {
margin: 0 auto;
    width: 40px;
    display: block;
    height: 31px;
}
.mobile-menu-wrap ul li{
    border-bottom:1px solid #e9e9e9;
    position: static;
    /* top:0 !important; */
}
.mobile-menu-wrap ul li.active-trail{ 
background:#7bb50c;
}
.mobile-menu-wrap ul li.active-trail a{ color: white !important; }
.mobile-menu-wrap ul li:hover{ background-color:#7bb50c; }
.mobile-menu-wrap ul li:hover a{color:white; font-weight: bold;}

.mobile-menu-wrap  {
border-right:4px solid #e9e9e9;
}

.mobile-menu-wrap ul li a {
width: 100%;
display: block;
height: 60px;
padding: 20px 40px;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 30px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

@media only screen and (max-width: 600px) {
	.hyatt-info{    width: 100%;
    padding: 20px !important;
    background-color: #ddd;
}
	.threecol-items-inner{padding:20px !important; width:100%;}
	.threecol-items .row {
    width: 100%;
}
.contactus-section.clearfix{cursor: pointer;
    padding: 0px !important;
    width: 100%;
    height: auto;
    margin: 0px;}
	
div.hyatt-section, .joinus-section, .contactus-section.clearfix, .joinus-section-inner, .contactus-section-inner{height:auto !important; width:100%;}
.threecol-items{height:auto;}
	 div.internal-content h3, .node-inner h3, .contact-left h5{   margin: 0px 0 10px 0 !important;
    padding: 0px;    font-size: 1em !important;
    width: 100%;}
	.threecol-items a.readbios, a.getdirections-btn, a.registernow-btn, a.contactus-btn{width: 100%;    margin: 20px auto;}
	.contact-left h5{    font-size: 1em;
    padding: 0px;
    margin: auto 0px;}
	.contactus-section-inner{padding:20px;}
	.contact-left{    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: inherit;}
.threecol-items h3 {
	margin: 0 0 10px !important;
    padding: 20px;
    text-align: center;
}
.threecol-items .item, .contact-right {
    width: 100% !important; float:none;
}
.accordion div.internal-content{width:60% !important;}
.threecol-items .name-info {
    margin-left: 10px;
    width: 51%;
}
.right-location{width:100% !important;}
#main {
	width:auto !important;
}
.mobile-hidden {
	display:none !important;
	visibility: hidden;
}
.desktop-hidden {
	display:block;
	visibility: visible;
}

/*Login page*/
	.page-toboggan-denied #page{
		width:100%; 
		margin-top:0px;
		background-size:100%;
	}

.login-authentic #content-header{
	       background-size: 120% auto;
    height: 160px;
    background-position: 0px 20px;
	}

		.login-authentic #page #main {
    margin: 0 auto;
    width: 100% !important;
    margin-top: 8px;
}

  .mobile-version {
  	display: block;
  }
	.web-version {display:none;
	}
	
	#page{
		margin-top:0px;
	}

	.form-item .description {
    font-size: 0.8em !important;
    margin-top:20px; 
}

.page-toboggan-denied #page #user-login {
    width: 267px;
    margin: 0px auto;
  text-align: center;
}


.page-toboggan-denied #page #user-login .form-submit, input#edit-submitted-please-upload-a-bio-file-to-be-included-in-the-participant-list-upload-button.form-submit, input#edit-submit {
    height: 46px;
    width: 134px;
    font-size: 0.8em;
}


.form-text, .form-textarea {
    box-shadow: none !important;
    border: 1px #dadada solid !important;
    font-size: .8em;
    padding: 10px;
}

/*Agenda page*/
	#agenda-shell{    width: 100%;
    overflow: hidden;
    padding-left: 0px;
}

div.directions-wrap {
	background-color:#cd202c;
	padding: 5px;
    padding-left: 30px;}
	
	div.directions-wrap h2{
    color: #fff !important;}

/*General*/

body {overflow-x: hidden;
	}

	body, .wrapper{
   width: auto;
   min-width: 0px;
}

#content,div.content, .node-inner, div.field {
	width: auto;
   min-width: 0px;
}

	#wrapper {
	  width: auto;
   min-width: 0px;
}


/*Experts*/
	h3.mobile-expand.expandable{
		width: auto;
    min-width: 253px;
    font-size: 1.2em !important;
}

#page .exp .internal-content{
		width:auto !important;
	}


/*home page*/
.front #main, .front #footer {
    width: 100% !important;
}


.home-description h4 {
	font-size:12px !important;
	    padding-top: 0 !important;
    margin-top: 0;
}

.hp-bucket i {

    width: 48px;
    height: 50px;
    font-size: 2em;
    margin: 10px auto;
    display: block;
	background-color: rgba(255,255,255,.2);
    margin-left: 10px;
    margin-right: 25px;
}
 

.bxslider-wrap {height:auto;}
.bx-wrapper { height:auto; }
.carousel-navigation { 
width: 100%;
position: relative;
}
a.right.slick-arrow, a.left.slick-arrow {
width: 50%;
}
a.bx-prev {
	width:50%;

    right: 0;
    left: initial;
}

a.bx-next {
	width:50%;




}
.left.slick-arrow span, .right.slick-arrow span {
margin: 0 auto;
    width: 40px;
    display: block;
    height: 31px;
}
.front h4 {
	font-size:16px;
}

p.mobile-title {
	font-size:18px;
}

.mck-nav-main {
	overflow:visible;
	background-color:#00aeef;
}
.mobile-menu-wrap {
	width:211px;
	background:white;
	height:305px;
	position: relative;
	left: 100px;
	opacity: 0;
	top:0px !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

}
.open { 
	right:0;
	opacity: 1;
}
.mobile-menu-wrap.open {
	left:-131px;
}

.mobile-menu-wrap ul li{
    padding: 0px 28px 0;
    position: static !important;
    border-bottom:1px solid #e9e9e9


}
nav.mck-nav-main ul li.last {
	padding:0 !important;
}
.mobile-menu-wrap ul li.active-trail{ 
background:#7bb50c;
}
.mobile-menu-wrap ul li.active-trail a{ color:white; }
.mobile-menu-wrap ul li:hover{ background-color:#7bb50c; }
.mobile-menu-wrap ul li:hover a{color:white; font-weight: bold;}

.mobile-menu-wrap  {
border-right:4px solid #e9e9e9;
}

.mobile-menu-wrap ul li a {
width: 100%;
display: block;
height: 60px;
padding: 20px 40px;
}

.hp-bucket-wrap {
	border:none !important;
	margin-top: 0;
	padding-top: 0px !important;
}

.home-description {
	    padding: 30px !important;
    background-color: #fff !important;
    font-size: 18px !important;
    line-height: 150% !important;
    font-weight: 200 !important;
    font-family: helveticaneue !important;
    border: 1px solid #8DE0FF !important;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/* TRAVEL PAGE */
.travel-page h1 {
display: none;
}
.right-inner {
	padding:0;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
	width:auto;
}
.col1.first {
	    border-bottom: 1px solid #ccc;
    color: #000;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
	background-color:#fff;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	    color: #CD202C;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 120px;
    float: left;

    margin-right: 10px;
}


.right-inner ul { 
	margin-bottom: 0;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}

.right-location div.times{    margin: 20px 30px;}

.right-inner .col1 {
	width:auto;
}
/** END travel page **/


/** Registration Page **/

.webform-confirmation p {
    padding: 20px;
}
div#node-9 h1 { color:#000;}
div#node-9 div.content,div#node-113 div.content {
	width:auto;
	margin-left: 0;
}
div#node-9 h1,div#node-113 h1 {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 90px;
    line-height: 24px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

form.webform-client-form{    background-color: #fff;
    padding: 30px;}

div#node-9 div.content,div#node-119 div.content {
    
    text-align: left;
    margin: 0 auto;
}
#node-9 .field-name-body p { text-align: center; padding: 20px;
    line-height: 145%;}

form#webform-client-form-9 div.webform-component-textfield input, form#webform-client-form-9 div.webform-component-email input{
	height: 30px;
	
	margin-bottom: 25px;
	width: 100% !important;
}

form#webform-client-form-9 div.webform-component-textfield input {
	display: none;
	margin-bottom: 25px;
	width: 100% !important;
}
form#webform-client-form-9 div.webform-component-textfield input.required {
	display: block;
	margin-bottom: 25px;
} 

form#webform-client-form-9 div label[for="edit-submitted-business-street"],
form#webform-client-form-9 div label[for="edit-submitted-business-state"],
form#webform-client-form-9 div label[for="edit-submitted-business-city"],
form#webform-client-form-9 div label[for="edit-submitted-business-postal-zip-code"],
form#webform-client-form-9 div label[for="edit-submitted-business-country"],
form#webform-client-form-9 div label[for="edit-submitted-assistants-name"],
form#webform-client-form-9 div label[for="edit-submitted-assistants-phone"], 
form#webform-client-form-9 div label[for="edit-submitted-assistants-e-mail-address"],
#edit-submitted-assistants-e-mail-address {
	display: none;
}

#webform-component-business-city,
#webform-component-business-state,
#webform-component-business-phone,
#webform-component-business-postal-code,
#webform-component-business-country,
#webform-component-assistants-name,
#webform-component-assistants-phone,
#webform-component-assistants-e-mail-address
{
	display: none;
}

form#webform-client-form-9 div label {
display: block;	
text-align: center;	
margin-left: 10px;	
width: auto;	
margin: 0;	
margin-left: 10px;	
float: none;
color:#5a6d8d;
}
#webform-component-attendance h2{
text-align: center;
}

#edit-submitted-event label {
	display: none;
}

form#webform-client-form-9 div.webform-component-checkboxes {
    padding: 0;
    margin: 0 0 15px;
    padding-left: 20px;
    padding-right: 10px;
}

#webform-component-accomodations, #webform-component-hotel-reservation, #webform-component-transportation,
#webform-component--please-note-that-you-will-be-responsible-for-your-transportation-to-and-from-the-airport,
#webform-component-dietary-requirements-etc,
#webform-component-dietary-restrictions,
#webform-component-additional-comments {
	display: none;
}
#webform-client-form-9 .form-submit,#webform-client-form-113 .form-submit.    {
	margin-top:40px !important;
	    margin-top: 40px !important;
    background-color: #00aeef !important;
    width: 280px !important;
    text-transform: uppercase;
}
div#webform-component-hotel-reservation p {
    font-size: 12px;
}
form#webform-client-form-9 div.webform-component-markup h2 {
	border: none;
}
/** END Registration Page **/

/** Feedback Page **/
div#node-113 {
    padding: 0 20px;
}

div#node-113 #edit-submit {
    margin-top: 20px !important;
}
/** END Feedback Page **/

/** Recap Page **/
.guest-speaker-intro {
	float:none;
	border:none;
	width:100%;
	text-align: center;
	height: auto;
}

div.topic-questions-list {
	height:auto;
}

.guest-speaker {
	float: none;
	width:auto;
	margin:0;
	margin-top:10px;
}
.guest-speaker img {
	width:135px;
	margin-left:0;
	margin-right:10px;
	padding-right: 0;
	margin-bottom: 10px;
}
ul.expanding_nav {
	margin-left:0;
}
ul.expanding_nav li,
ul.expanding_nav li.active {
	width:135px;
	float: left;
    margin-right: 10px;
    border-radius: 10px;
    padding: 14px;
}

ul.expanding_nav li {
	padding: 14px;
}
#node-23 h1 {display:none;}

#node-23 .mck-wrap {
	padding:0;
	margin-top:60px;
}
.mck-portal-section--header p.large, .mck-portal-section p.large {
    font-size: 12px !important;
    margin-bottom: 0;
}
.mck-portal-section p {
	font-size: 12px !important;
}
#node-23 .mck-portal-section {
	padding:10px;
	border-bottom: none;
	padding-bottom: 0;
}
#node-23 .mck-portal-section table{
	font-size: 10px;
}
#node-23 .web-version {
	display:block!important;
	margin-top:10px;
}
.guest-speaker-intro {
	margin:0;
	padding:0;
}
.guest-speaker-intro h4 {
	font-size:12px;
	text-align: left;
	margin:0;
	font-weight: bold;
}
.main-presenters {
	margin-top:0;
	margin-bottom: 0;
}
.guest-speaker h5 {
	margin-bottom:10px;
	font-size: 14px;
}
.guest-speaker p.grey {
	font-size: 12px;
}
.guest-speaker:nth-child(2) {
	clear:left;
}
.large {
	font-size: 12px;
}
div.topic-questions-list {
	background-image:none;
	padding:10px;
}
.topic-questions-list li {
    font-size: 12px;
    line-height: 14px;
}
.topic-questions-list ul {
	float:left;
}

/** END Recap Page **/

/** Event table **/
.page-node-15 {background: #fff !important;}
#node-15 h1 {display: none;}
#node-15 {margin-top:60px;}
.table-wrap, .table-row {
	width:auto;
	    min-height: 350px;
}

.table-row {
	width:100%;
	height: auto;
	border-bottom:1px solid #dcdcdc;
	min-height: 70px;
	padding-left: 20px;
	padding-top: 14px;
}

.event-time {
	width: 40px;
	float: left;
	font-size:1.1em;
}
.event-time strong {
	display: block;
}

.event-info {
    float: left;
    font-size: 1.1em;
    line-height: 1.2em;
    border-left: 2px solid #cd202c;
    padding-left: 20px;
}
.date-switch{
	margin-top:20px;
	margin-left: 10px;
}
.date-button {
    background-color: transparent;
    float: left;
    width: 140px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #00adef;
    border:1px solid #00ADEF;
}
.date-table2 {
	margin-right: 0;
}
.section1, .section2 {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	top: 60px;
}
.section2 {display: none;}
.date-button.active {
	background-color: #00adef;
	color:#fff;
}

#node-16 h1 {display:none;}#node-16 { padding:20px;}
#node-16 a[href*="mckinsey"] { 
	width: 240px;
	    word-wrap: break-word;
	    display: block;
}


/** END Event table **/

#webform-client-form-113 > div > div > label {
	display: block;
}
.page-node-113 .content {
    margin-top: 80px;
}

.homepage-hero {
	/*margin-top: 115px;*/
	height:auto !important;
}
/** UPDATED OCT 30 **/
.fourcol-items .item{
    cursor: pointer;
    width: 100%;
    max-width: 100%;}
img.sces-banner{
width: 90%;
    position: relative;
    top: 20px;}

#h1wrap{
    position: relative;
    padding: 0;
}

#h1wrap p {
	padding: 20px;
}


h1 span.h1desc{
   
 width: 100%;

    font-size: 14px;

    border: none !important;

    padding: 0px;
}


#node-15 h1 {
    display: block;
    background-size: cover;
}
h1{    background-size: cover;}
.into-text {
    line-height: 150%;
    text-align: center;
    font-family: HelveticaNeueLight, Arial, Sans-serif;
    letter-spacing: .7px;
    font-size: 14px;
    margin: 0px auto;
    padding: 0px;
}

.into-text strong {
    font-size: 14px;
}

.mck-portal-section{padding:0px;}

/** END UPDATED OCT 30 **/
ul.mck-portal-more-items__list fourcol-items{padding:0px;}

.mck-header__portal-title img {
	height:auto !important;
	left: -50px;
}

.accordion span.mck-icon__carrot-down, .accordion span.mck-icon__carrot-up {
	top: 10px;
	margin-right: 10px;
}


} /** end mobile styles **/


/**
**
** IPHONE LANDSCAPE STYLES
**
**
**/

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.right-location{width:100% !important;}
p.mobile-title {
	padding-top:4%;
}
#webform-client-form-113 > div > div > label {
	display: block;
}
div#node-113 #edit-submit {
	font-size:16px;
}
.mobile-menu-wrap ul li a {
    width: 100%;
    display: block;
    height: 40px;
    padding: 10px 40px;
}
.mck-nav-main li.is-active a {
    font-size: 12px;
}



}
/** END LANDSCAPE IPHONE STYLES **/

/**
**
** TABLET STYLES
**
**
**/

@media only screen and (min-width: 601px) and (max-width: 1100px) {

	.right-location{width:100% !important;}
#main {
	width:auto !important;
	margin-bottom:0 !important;
}
header #main {
	margin-bottom:100px !important;
}
.mck-nav-main {
	overflow:visible;
	background-color:#00aeef;
	top:32px;
}
.mobile-menu-wrap {
	width: 245px;
	background:white;
	height:auto;
	position: relative;
	top: 0;
	left: 100px;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.open { 
	right:0;
	opacity: 1;
}
.mobile-menu-wrap.open {
	left: -175px;
}
nav.mck-nav-main ul li.last {
	top:0px !important;
	padding:0 !important;
}

.bxslider-wrap {height:auto;}
.bx-wrapper { height:auto; }
.carousel-navigation { 
width: 100%;
position: relative;
}
a.right.slick-arrow, a.left.slick-arrow {
width: 50%;
}
a.bx-prev {
	width:50%;

    right: 0;
    left: initial;
}

a.bx-next {
	width:50%;
}
.front #page {
	margin-top: 0;
}
.left.slick-arrow span, .right.slick-arrow span {
margin: 0 auto;
    width: 40px;
    display: block;
    height: 31px;
}
.mobile-menu-wrap ul li{
    border-bottom:1px solid #e9e9e9;
    position: static;
    top:0 !important;
}
.mobile-menu-wrap ul li.active-trail{ 
background:#7bb50c;
}
.mobile-menu-wrap ul li.active-trail a{ color:white; }
.mobile-menu-wrap ul li:hover{ background-color:#7bb50c; }
.mobile-menu-wrap ul li:hover a{color:white; font-weight: bold;}

.mobile-menu-wrap  {
border-right:4px solid #e9e9e9;
}

.mobile-menu-wrap ul li a {
width: 100%;
display: block;
height: 60px;
padding: 20px 40px;
}

#nav-icon3 {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 30px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hp-bucket-wrap {
	border:none;
}

/* TRAVEL PAGE */
.travel-page h1 {
display: none;
}
.right-inner {
	padding:0;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
}
.col1.first {
	background:#50060b;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	color:#fff;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 100px;
    float: left;
    margin-right: 10px;
}
.right-inner ul { 
	margin-bottom: 0;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}
.right-inner .times ul {
	margin:0;
	padding:0;
}
/** Feedback Page **/
div#node-113 {
    padding: 0 20px;
}

div#node-113 #edit-submit {
    margin-top: 20px !important;
}
/** END Feedback Page **/





/** Recap Page **/
.guest-speaker-intro {
	float:none;
	border:none;
	width:100%;
	text-align: center;
	height: auto;
}


div.topic-questions-list {
	height:auto;
}

/** END Recap Page **/


.h1desc {
	font-size: 12px
}

/*.homepage-hero {margin-top: 115px; }*/
.fourcol-items .item{
    cursor: pointer;
    width: 100%;
    max-width: 100%;}

 

.into-text strong{ font-size: 1.2em;}
.into text { font-size: .7em;}

.threecol-items {
	width:100%;
	height:auto;
}
.threecol-items .item {
	width: 100%;
	float: none;
}


} /** END tablet styles **/


@media only screen and (min-width: 601px) and (max-width: 1100px) and (orientation: landscape) { 
.right-location{width:100% !important;}
.mck-header {
	height: 60px;
	min-height: 60px;
}
.mck-nav-main {
	height: 60px;
}
#nav-icon3 {
	margin-top:20px;
	height:30px;
}
.mobile-hidden {
	display: none;
	visibility: hidden;
}
.desktop-hidden {
	display: block;
	visibility: visible;
}
.home-description {
	margin: 0;
	padding: 20px;
}

.hp-bucket-wrap {
    margin-top: 0; 
    padding-top: 0; 
}

div.hp-bucket {
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
}
.mobile-menu-wrap ul li a {
    width: 100%;
    display: block;
    height: 50px;
    padding: 15px 60px;
}
#page {
	margin-top:20px;
}

div.directions-wrap {
	background-color:#cd202c;
	padding: 5px;
    padding-left: 30px;}
	
	div.directions-wrap h2{
    color: #fff !important;}

    .right-inner {
	padding:0;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
	width:auto;
}
.col1.first {
	background:#50060b;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	color:#fff;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 120px;
    float: left;

    margin-right: 10px;
}


.right-inner ul { 
	margin-bottom: 0;
margin:0px 30px;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}

.right-inner .col1 {
	width:auto;
}
.times {
	    padding: 20px;
    padding-top: 0;
}

.photo {
	margin-bottom: 0px;
}

.guest-speaker-intro {
	padding-bottom: 0;
}
ul.expanding_nav li, ul.expanding_nav li.active {
    width: 135px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    padding: 14px;
}

#node-16 {
	padding:20px;
}
#node-16 .content {
	margin-top: 0;
}

/** Event table **/
.page-node-15 {background: #fff !important;}

#node-15 {margin-top:60px;}
.table-wrap, .table-row {
	width:auto;
	    min-height: 350px;
}

.table-row {
	width:100%;
	height: auto;
	border-bottom:1px solid #dcdcdc;
	min-height: 70px;
	padding-left: 20px;
	padding-top: 14px;
}

.event-time {
	width: 40px;
	float: left;
	font-size:1.1em;
}
.event-time strong {
	display: block;
}

.event-info {
    float: left;
    font-size: 1.1em;
    line-height: 1.2em;
    border-left: 2px solid #cd202c;
    padding-left: 20px;
}
.date-switch{
	margin-top:20px;
	margin-left: 10px;
}
.date-button {
    background-color: transparent;
    float: left;
    width: 140px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #00adef;
    border:1px solid #00ADEF;
}
.date-table2 {
	margin-right: 0;
}
.section1, .section2 {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	top: 60px;
}
.section2 {display: none;}
.date-button.active {
	background-color: #00adef;
	color:#fff;
}

#node-16 h1 {display:none;}#node-16 { padding:20px;}
#node-16 a[href*="mckinsey"] { 
	width: 240px;
	    word-wrap: break-word;
	    display: block;
}

.homepage-hero {
	/*margin-top: 115px;*/
}
/** END Event table **/
}@#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 7px;
}

#nav-icon3 span:nth-child(4) {
  top: 15px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hp-bucket-wrap {
	border:none;
}

/* TRAVEL PAGE */
.travel-page h1 {
display: none;
}
.right-inner {
	padding:0;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
}
.col1.first {
	background:#50060b;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	color:#fff;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 100px;
    float: left;
    margin-right: 10px;
}
.right-inner ul { 
	margin-bottom: 0;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}
.right-inner .times ul {
	margin:0;
	padding:0;
}
/** Feedback Page **/
div#node-113 {
    padding: 0 20px;
}

div#node-113 #edit-submit {
    margin-top: 20px !important;
}
/** END Feedback Page **/





/** Recap Page **/
.guest-speaker-intro {
	float:none;
	border:none;
	width:100%;
	text-align: center;
	height: auto;
}


div.topic-questions-list {
	height:auto;
}

/** END Recap Page **/


.h1desc {
	font-size: 12px
}

.homepage-hero {/*margin-top: 115px; */}
.fourcol-items .item{
    cursor: pointer;
    width: 100%;
    max-width: 100%;}

 

.into-text strong{ font-size: 1.2em;}
.into text { font-size: .7em;}

.threecol-items {
	width:100%;
	height:auto;
}
.threecol-items .item {
	width: 100%;
	float: none;
}

.position-title {
	font-size: 12px !important;
}

.name-info h2 {
	font-size: 14px !important;
}


.mck-header {
	height: 55px !important;
}
.mck-content.mck-wrap.fourcol-items-wrap {
    padding: 0;
}

.mck-portal-more-items__list.fourcol-items {
	padding:0;
}

.left-location {
	width:100%;
}
.left-location img {
	width:100%;
	min-width:100%;
}

.page-node-129 h1 {
	margin-top:90px;
}
div.contact-us-container {
	width:100%;
}

.mobile-hidden {
	display:none;
}

 #mck-nav-main {
background-color: #00aeef;
width:70px;
height: 70px;
position: absolute;
right: 0;
 bottom: 0;}

#primary {
	position: static;
}
nav#mck-nav-main ul li.last {
	padding: 0;
	position: static;
}
nav#mck-nav-main ul li {
	margin-bottom: 0;
	width: 241px;
}

 #main {
 	padding-top: 70px;
 }

 div.contact-us-container {
 	min-width: 0;
 }

 .contactus-section-inner {
 	width:100%;
 }

 .threecol-items-inner {
 	width:100%;
 }

 .joinus-section-inner {
 	width:100%;
 }

 .hyatt-info {
 	float: left;
 	width: 100%;
 }

 .joinus-section {
 	float: left;
 	width: 100%;
 }

 .contactus-section.clearfix {
 	float: left;
 	width: 100%;
 }

 .hyatt-section-inner img {
 	min-width: 100%;
 }

 .contact-left {
    float: left;
    width: 260px;
     margin-right: 0px; 
     left: 0px; 
    position: relative;
}

} /** END tablet styles **/


@media only screen and (min-width: 601px) and (max-width: 1100px) and (orientation: landscape) { 
.right-location{width:100% !important;}
.mck-header {
	height: 60px;
	min-height: 60px;
}
.mck-nav-main {
	height: 60px;
}
#nav-icon3 {
	margin-top:20px;
	height:30px;
}
.mobile-hidden {
	display: none;
	visibility: hidden;
}
.desktop-hidden {
	display: block;
	visibility: visible;
}
.home-description {
	margin: 0;
	padding: 20px;
}

.hp-bucket-wrap {
    margin-top: 0; 
    padding-top: 0; 
}

div.hp-bucket {
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 20px;
}
.mobile-menu-wrap ul li a {
    width: 100%;
    display: block;
    height: 50px;
    padding: 15px 60px;
}
#page {
	margin-top:20px;
}

div.directions-wrap {
	background-color:#cd202c;
	padding: 5px;
    padding-left: 30px;}
	
	div.directions-wrap h2{
    color: #fff !important;}

    .right-inner {
	padding:0;
	padding-bottom: 15px;
}
.right-inner .col1 {
	float:none;
	width:auto;
}
.col1.first {
	background:#50060b;
	width:100%;
	padding-top:15px;
	padding-bottom:15px;
}
.col1 {
	color:#fff;
	padding-left:30px;
}
.col1.times {
	color:#000;
}
.right-inner h5 {
	color:#fff;
}
.right-inner ul {
	padding-left:28px;
}
.travel-page .right-inner img:first-child { 
	margin-bottom: -5px;
}
.right-location {
	width:auto;
}
.travel-icon-wrap {
    height: 120px;
    float: left;

    margin-right: 10px;
}


.right-inner ul { 
	margin-bottom: 0;
margin:0px 30px;
	padding-bottom: 0;
}
.right-inner ul li a {
	color:#fff;
	font-weight:bold;
}

.right-inner .col1 {
	width:auto;
}
.times {
	    padding: 20px;
    padding-top: 0;
}

.photo {
	margin-bottom: 0px;
}

.guest-speaker-intro {
	padding-bottom: 0;
}
ul.expanding_nav li, ul.expanding_nav li.active {
    width: 135px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
    padding: 14px;
}

#node-16 {
	padding:20px;
}
#node-16 .content {
	margin-top: 0;
}

/** Event table **/
.page-node-15 {background: #fff !important;}

#node-15 {margin-top:100px;}
.table-wrap, .table-row {
	width:auto;
	    min-height: 350px;
}

.table-row {
	width:100%;
	height: auto;
	border-bottom:1px solid #dcdcdc;
	min-height: 70px;
	padding-left: 20px;
	padding-top: 14px;
}

.event-time {
	width: 40px;
	float: left;
	font-size:1.1em;
}
.event-time strong {
	display: block;
}

.event-info {
    float: left;
    font-size: 1.1em;
    line-height: 1.2em;
    border-left: 2px solid #cd202c;
    padding-left: 20px;
}
.date-switch{
	margin-top:20px;
	margin-left: 10px;
}
.date-button {
    background-color: transparent;
    float: left;
    width: 140px;
    height: 35px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #00adef;
    border:1px solid #00ADEF;
}
.date-table2 {
	margin-right: 0;
}
.section1, .section2 {
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	top: 60px;
}
.section2 {display: none;}
.date-button.active {
	background-color: #00adef;
	color:#fff;
}

#node-16 h1 {display:none;}#node-16 { padding:20px;}
#node-16 a[href*="mckinsey"] { 
	width: 240px;
	    word-wrap: break-word;
	    display: block;
}

.homepage-hero {
	/*margin-top: 115px;*/
}
/** END Event table **/

 #main {
 	padding-top: 70px;
 }

 div.contact-us-container {
 	min-width: 0;
 }

 .contactus-section-inner {
 	width:100%;
 }
}