/* Font styles. test */
/* line 2, ../sass/style.sass */
#overlay {
	display: none;
}
@font-face {
	font-family: 'Helvetica';
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: HelveticaNeueLight;
	src: url(../fonts/helvetica-neue/light.eot);
	src: url(../fonts/helvetica-neue/light.eot) format('embedded-opentype'), url(../fonts/helvetica-neue/light.woff) format('woff'), url(../fonts/helvetica-neue/light.ttf) format('truetype'), url(../fonts/helvetica-neue/light.svg#HelveticaNeueLight) format('svg')
}
@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/helvetica-neue/regular.eot);
	src: url(../fonts/helvetica-neue/regular.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/regular.woff) format('woff'), url(../fonts/helvetica-neue/regular.ttf) format('truetype'), url(../fonts/helvetica-neue/light.svg#HelveticaNeueRegular) format('svg')
}
@font-face {
	font-family: HelveticaNeueMedium;
	src: url(../fonts/helvetica-neue/medium.eot);
	src: url(../fonts/helvetica-neue/medium.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/medium.woff) format('woff'), url(../fonts/helvetica-neue/medium.ttf) format('truetype'), url(../fonts/helvetica-neue/medium.svg#HelveticaNeueMedium) format('svg')
}
@font-face {
	font-family: HelveticaNeueBold;
	src: url(../fonts/helvetica-neue/bold.eot);
	src: url(../fonts/helvetica-neue/bold.eot?#iefix) format('embedded-opentype'), url(../fonts/helvetica-neue/bold.woff) format('woff'), url(../fonts/helvetica-neue/bold.ttf) format('truetype'), url(../fonts/helvetica-neue/bold.svg#HelveticaNeueBold) format('svg')
}
html, body {

}
body {
	margin: 0;
	font: 13px/18px Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	background-position: top;
	background-repeat: repeat-x;
}
/* Links */
/* line 10, ../sass/style.sass */
a:link, a:visited {
	color: #2175BF;
	text-decoration: none;
}
/* line 15, ../sass/style.sass */
a:hover, a:active {
	color: #2175BF;
	text-decoration: underline;
}
/* Titles. */
/* line 21, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
	/* line-height: 1.3em; */
}
/* line 24, ../sass/style.sass */
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	color: #adadad;
	margin: 20px 0 12px 0;
	text-align: left;
}
h1 span {
	color: #E37222;
}
h1.title {
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 2px solid #EBEBEB;
	margin-bottom: 15px;
	padding: 0 0 20px;
	font-size: 26px;
	font-weight: normal;
	line-height: 1.067em;
	color: #444444;
	margin-top: 5px;
}
/* line 30, ../sass/style.sass */
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #E37222;
	margin-bottom: 15px;
	text-align: left;
	font-weight: normal;
}
/* line 35, ../sass/style.sass */
h3 {
	margin-bottom: 8px;
	color: #e37121;
	font-size: 19px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}
/* line 39, ../sass/style.sass */
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	width: 170px;
	margin: 5px 0px 15px 0px;
	/* line-height: 18px; */
}
/* line 43, ../sass/style.sass */
h5 {
	font-size: 1.1em;
	font-weight: 600;
	margin-bottom: 0;
}
/* line 48, ../sass/style.sass */
h6 {
	font-size: 1em;
	font-weight: bold;
}
/* Paragraph styles. */
/* line 53, ../sass/style.sass */
p {
	/* margin: 0 0 1em 0; */
	/* font: 13px/18px Georgia, "Times New Roman", Times, serif; */
}
p span {
	color: #2175bf /*blue text*/
}
/* List styles. */
/* line 57, ../sass/style.sass */
ul, ol {
	margin-left: 0;
	padding-left: 0;
}
/* Table styles. */
/* line 62, ../sass/style.sass */
table {
	width: 99%;
}
/* line 67, ../sass/style.sass */
tr.even td, tr.odd td {
	padding: 10px 5px;
}
/* line 70, ../sass/style.sass */
tr.odd {
	background-color: white;
}
/* Code. */
/* line 74, ../sass/style.sass */
pre, code, tt {
	font: 1em "andale mono", "lucida console", monospace;
	line-height: 1.5;
}
/* line 78, ../sass/style.sass */
pre {
	background-color: #efefef;
	display: block;
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaaaaa;
}
/* List styles. */
/* line 86, ../sass/style.sass */
ul {
	list-style-type: none;
}
/* line 88, ../sass/style.sass */
ul ul {
	list-style-type: circle;
}
/* line 90, ../sass/style.sass */
ul ul ul {
	list-style-type: square;
}
/* line 92, ../sass/style.sass */
ul ul ul ul {
	list-style-type: circle;
}
/* line 95, ../sass/style.sass */
ol {
	list-style-type: decimal;
}
/* line 97, ../sass/style.sass */
ol ol {
	list-style-type: lower-alpha;
}
/* line 99, ../sass/style.sass */
ol ol ol {
	list-style-type: decimal;
}
/* Abbreviation. */
/* line 103, ../sass/style.sass */
abbr {
	border-bottom: 1px dotted #666666;
	cursor: help;
	white-space: nowrap;
}
/* UI improvments. */
/* line 109, ../sass/style.sass */
#edit-title {
	font-size: 24px;
	width: 98%;
}
/* line 113, ../sass/style.sass */
#system-themes-form img {
	width: 100px;
}
/* line 116, ../sass/style.sass */
.form-item .description {
	font-style: italic;
	line-height: 1.2em;
	font-size: 0.8em;
	margin-top: 5px;
	color: #777777;
}
/* line 123, ../sass/style.sass */
#edit-delete {
	color: #cc0000;
}
/* Console, style from slate theme. */
/* line 127, ../sass/style.sass */
div.messages {
	padding: 9px;
	margin: 1em 0;
	color: #003366;
	background: #bbddff;
	border: 1px solid #aaccee;
}
div.messages.error {
	height: 0px !important;
}
/* line 134, ../sass/style.sass */
div.warning {
	color: #884400;
	background: #ffee66;
	border-color: #eedd55;
}
/* line 139, ../sass/style.sass */
div.error {
	color: white;
	background: #ee6633;
	border-color: #dd5522;
	visibility: hidden !important;
}
/* line 144, ../sass/style.sass */
div.status {
	color: #336600;
	background: #ccff88;
	border-color: #bbee77;
}
/* line 150, ../sass/style.sass */
#header {
	height: 148px;
	width: 960px;
	margin: 0 auto;
	padding-top: 50px;
}
.header-back {
	margin: 0px;
	padding: 0px;
	height: 148px;
	background-image: url(../images/header-bg.jpg)
}
/* FOOTER  */	

#footer {
	width: 900px;
	margin: 0 auto;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 20px !important;
}
#footer img {
	vertical-align: middle;
	margin-left: -5px;
}
#footer a {
	color: #2175BF;
	margin: 0;
	text-decoration: none;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
}
#footer p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 300px;
}
.footer-bottom {
	border-top: 2px solid #ebebeb;
	margin: 20px 0px 30px 0px;
	padding-top: 15px
}
#footer .slogan {
	display: block;
	float: left;
	width: 300px;
}
#footer .copywrite {
	float: right;
	color: #707070;
	font-weight: normal
}
/* line 153, ../sass/style.sass */



ul li.leaf {
	list-style-image: none;
	list-style-type: none;
}
ul.menu li {
	margin: 0 0 10px 0;
	font-size: 13px
}
li.expanded, li.collapsed, li.leaf {
	margin: 0;
	padding: 0;
}
#logo {
	padding: 22px 0px 22px 0px;
}
/*-----------------PRIMARY MENU---------------*/
#navigation #primary ul {
	list-style: none !important;
	list-style-type: none !important;
	margin: 0;
	padding: 0;
}
#navigation #primary li {
	float: left;
	margin: 0;
	padding: 0;
	width: 16.2% !important;
}
/*#navigation #primary li.menu-504, #navigation #primary li.menu-508 {
	width:90px !important;
}
#navigation #primary li.menu-501, #navigation #primary li.menu-509, #navigation #primary li.menu-505, #navigation #primary li.menu-511 {
	width:110px !important;
}*/
#navigation #primary a {
	font-family: Arial, Helvetica, sans-serif;
	font-color: #fff;
	font-size: 13px;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-right: 1px;
	line-height: 39px;
	background: url("../images/bg-li-shadow.png") repeat-x scroll center bottom #2175BF;
	border: none;
	padding: 0 22px;
}
#navigation #primary a:hover {
	background: url("../images/bg-li-shadow.png") repeat-x scroll center bottom #5293CD;
}
#navigation #primary li a.active, #navigation #primary li a.active-trail {
	background: url("../images/bg-li-shadow.png") repeat-x scroll center bottom #5293CD;
}
#navigation #primary a {
	color: #fff !important;
	font-weight: bold !important
}
/* Deactivated menu links */
#navigation #primary li.menu-508 a, #navigation #primary li.menu-509 a,  #navigation #primary li.menu-502 a {
	background-color: #084469;
	color: #abc !important;
	cursor: pointer;
}
#navigation #primary li.menu-508 a, #navigation #primary li.menu-509 a,  #navigation #primary li.menu-502 a, #navigation #primary li.menu-511 a, #navigation #primary li.menu-506,  #navigation #primary li.menu-508, #navigation #primary li.menu-509, #navigation #primary li.menu-502 {
	cursor: default !important;
}
/*-----------------NEW CSS---------------*/		
#highlight .block-inner {
	margin: 0 0 0px 5px !important;
	padding-bottom: 0px !important;
}
.node-inner {
/*width: 715px;*/
}
.field-name-field-cat .field-item {
	display: inline !important;
	padding: 0 3px;
	color: #939D98;
	font-family: Arial, Helvetica, sans-serif;
}
.field-name-field-cat .field-item a {
	color: #939D98;
}
.field-name-field-cat {
	margin-top: 10px
}
.field-name-field-cat .field-label {
	font-weight: normal !important;
	color: #939D98;
	font-family: Arial, Helvetica, sans-serif;
}
/* BEGIN: REGISTRATION FORM */
body.page-node-9 #block-system-main div.content div.links {
	display: none;
	visibility: hidden;
}
div#node-9 div.node-inner,div#node-113 div.node-inner {
	text-align: center;
}
div#node-9 div.content,div#node-113 div.content {
	    width: 680px;
    text-align: left;
    margin: 0 auto
}
form#webform-client-form-9 div.form-item,form#webform-client-form-113 div.form-item {
	padding: 4px 20px 10px 20px;
}

.webform-client-form.webform-conditional-processed {
    padding: 30px;
    background-color: #fff;
}
div#node-9 h1,div#node-113 h1 {
	text-align:center;
}

form.webform-client-form{
	padding: 30px;
    background-color: #fff;}
/* Labels */

form#webform-client-form-9 div label
{
	float: left;
	clear: both;
	width: 240px;
	text-align: right;
	margin: 2px 10px 0 0;
	padding-right: 10px;
	font-size: 14px;
	line-height: 18px;
}

form#webform-client-form-113 div label {
	clear: both;
	width: 240px;
	text-align: right;
	margin: 2px 10px 0 0;
	padding-right: 10px;
	font-size: 14px;
	line-height: 18px;
}
form#webform-client-form-9 div.webform-component-textarea label ,form#webform-client-form-113 div.webform-component-textarea label{
	    margin: 0 0 10px;
    padding-left: 0;
    width: 100%;
    text-align: center;
}
/* Text fields */
.field-type-text-with-summary p {
	font-size: 14px;
}
form#webform-client-form-9 div.webform-component-textfield input,  form#webform-client-form-9 div.webform-component-email input {
	float: left;
	background-color: #fff;
	padding: 1px;
	border: solid 1px #ccc;
	font-size: 14px;
	width: 300px !important;
}
/* Radio buttons and check boxes */
form#webform-client-form-9 div.webform-component-radios,  form#webform-client-form-9 div.webform-component-checkboxes {
	    margin: 0 0 15px;
    border: 1px solid #ccc;
    padding: 20px;
}
form#webform-client-form-9 div.webform-component-checkboxes input,  form#webform-client-form-9 div.webform-component-checkboxes label,  form#webform-client-form-9 div.webform-component-radios input,  form#webform-client-form-9 div.webform-component-radios label {
	float: none;
	line-height: 24px;
	height: 24px;
	display: inline;
}
form#webform-client-form-9 div.webform-component-checkboxes input,  form#webform-client-form-9 div.webform-component-radios input {
	margin: 0 3px 3px 0;
}
form#webform-client-form-9 div.webform-component-checkboxes div.form-checkboxes, form#webform-client-form-9 div.webform-component-radios div.form-radios {
	margin-top: 8px;
}
form#webform-client-form-9 div.form-type-radio,  form#webform-client-form-9 div.form-type-checkbox {
	margin: 0;
	padding: 0;
}
form#webform-client-form-9 div#webform-component-please-let-us-know-which-nights-you-require-accommodation-for-select-all-that-apply label,  form#webform-client-form-9 div#webform-component-will-your-spouse-significant-other-be-attending-the-event label,  form#webform-client-form-9 div#webform-component-smoking-room-requiredw label,  form#webform-client-form-9 div#webform-component-spa-and-wine label,  form#webform-client-form-9 div#webform-component-accommodation-nights label,  form#webform-client-form-9 div#webform-component-which-activity-will-your-spouse-attend label {
	clear: both;
	width: auto !important;
	text-align: left;
	line-height: 20px;
	height: 20px;
}
/*
form#webform-client-form-9 div#webform-component-please-let-us-know-which-nights-you-require-accommodation-for-select-all-that-apply div label,
	form#webform-client-form-9 div#webform-component-spa-and-wine div label,
	form#webform-client-form-9 div#webform-component-which-activity-will-your-spouse-attend div label {
	display: inline; width: 157px !important; float: left; text-align: right;
}
form#webform-client-form-9 div#webform-component-will-your-spouse-significant-other-be-attending-the-event div,
	form#webform-client-form-9 div#webform-component-will-your-spouse-significant-other-be-attending-the-event div input,
	form#webform-client-form-9 div#webform-component-smoking-room-requiredw div input,
	form#webform-client-form-9 div#webform-component-will-your-spouse-significant-other-be-attending-the-event div label,
	form#webform-client-form-9 div#webform-component-smoking-room-requiredw div label,
	form#webform-client-form-9 div#webform-component-smoking-room-requiredw div {
	display: inline; float: left; width: 57px !important; clear: none !important; margin: 0; text-align: left;
}
#node-9 form#webform-client-form-9 div.form-item-submitted-smoking-room-requiredw,
	#node-9 form#webform-client-form-9 div.form-item-submitted-smoking-room-requiredw input,
	#node-9 form#webform-client-form-9 div.form-item-submitted-will-your-spouse-significant-other-be-attending-the-event,
	#node-9 form#webform-client-form-9 div.form-item-submitted-will-your-spouse-significant-other-be-attending-the-event label {
	display: inline; float: left;
} */

/* Hacks for the yes/no elements to work inline in all browsers 
div#edit-submitted-will-your-spouse-significant-other-be-attending-the-event, div#edit-submitted-smoking-room-requiredw { padding-left: 24px; }
div#edit-submitted-will-your-spouse-significant-other-be-attending-the-event div.form-item-submitted-will-your-spouse-significant-other-be-attending-the-event label,
	div#edit-submitted-smoking-room-requiredw div.form-item-submitted-smoking-room-requiredw label { 
	position: relative; top: -22px; left: 24px; }
div#edit-submitted-will-your-spouse-significant-other-be-attending-the-event div.form-item-submitted-will-your-spouse-significant-other-be-attending-the-event,
	div#edit-submitted-smoking-room-requiredw div.form-item-submitted-smoking-room-requiredw {} 
div#edit-submitted-will-your-spouse-significant-other-be-attending-the-event div.form-item-submitted-will-your-spouse-significant-other-be-attending-the-event:last-child,
	div#edit-submitted-smoking-room-requiredw div.form-item-submitted-smoking-room-requiredw:last-child {
	position: relative; top: -44px; left: 69px;
} */

/* Header Text */
form  div.webform-component-markup h2 {
	position: relative;
	top: 12px;
	clear: both;
	margin: 0 4px 0 0;
	padding: 0;
	height: 32px;
	    text-align: center;
		color:#E85C00 !important;
}
div#webform-component-dietary-requirements-etc {
	margin-top: -12px;
}
div#webform-component-social-activity {
	margin-top: 0 !important;
	position: relative;
	top: -4px;
}
div#webform-component-spouse-if-accompanying {
	margin-top: 44px;
}
/* Submit button */
form div#edit-actions {
	text-align: center;
}
form#webform-client-form div#edit-actions input {
	background-color: #2175BF;
	color: #fff;
	font-weight: normal;
	font-size: 16px;
	border: 0;
	padding: 5px;
	width: 100px;
}
/* Additional comments */
textarea#edit-submitted-additional-comments {
	height: 157px;
}
/* Assistant's name */
div#webform-component-assistants-name {
	margin-top: 57px;
}
#webform-component-spouses-title input, #webform-component-spouses-first-name input, #webform-component-spouses-middle-initial input, #webform-component-spouses-last-name input {
	margin: 0 0 10px 0;
}
#webform-component-please-let-us-know-which-nights-you-require-accommodation-for-select-all-that-apply {
	margin-top: 0 !important;
	position: relative;
	top: 18px;
}
/* Transportation disclaimer */
#webform-client-form-9 #webform-component--please-note-that-you-will-be-responsible-for-your-transportation-to-and-from-the-airport p {
	font-size: 1.2em;
	text-align: left;
}
/* Upload buttons */
.webform-component-managed_file {
	position: relative;
	top: 12px;
}
div#webform-component-choose-an-image-file-to-upload label {
	color: #5293CD;
}
div#edit-submitted-choose-a-bio-file-to-upload-ajax-wrapper label {
	color: #5293CD;
}
.poll .title {
	display: block !important;
	margin-bottom: 10px;
	font-weight: normal !important
}
/* END: REGISTRATION FORM */


.front .title, .page-taxonomy .title {
}

.node-inner h2 {
	border-bottom: 2px solid #EBEBEB;
	margin-bottom: 15px;
	padding: 0 0 20px;
	font-size: 2.308em;
	font-weight: normal;
	line-height: 1.067em;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5px;
}
.node-inner h2 a {
	color: #444
}
#header-region {
	width: 219px !important;
	float: right !important;
*margin-top:-40px
}
#search-block-form {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC !important;
	height: 26px;
	margin-left: 6px;
	margin-top: 5px;
	width: 200px;
}
.form-item-search-block-form {
	margin-bottom: 0em;
	margin-top: 3px !important;
	display: block !important;
	width: 170px;
	float: left
}
#search-block-form .form-text {
	border: 1px solid #FFFFFF !important;
	color: #373737;
	font: 14px Arial;
	margin: 0px 0 0 5px !important;
	padding-top: 2px;
	width: 139px !important;
}
#block-poll-recent .links .first {
	display: none
}
#block-poll-recent .links {
	display: block;
	width: 100px !important;
	margin-top: -20px;
	margin-left: 62px;
}
.poll .vote-form .choices {
	display: table;
	margin: 0px !important;
	text-align: left;
}
.vote-button {
	float: left
}
.poll .bar .foreground {
	background-color: #fff;
	background-image: url(../images/bar.gif);
	background-repeat: repeat-x;
	float: left;
	height: 1em;
}
.poll .bar {
	width: 78%;
	float: left;
	height: 8px !important;
}
.poll .percent {
	width: 20%;
	float: left;
	font-size: 11px !important;
	margin-top: -5px
}
.poll .total {
	clear: both;
	padding-top: 8px;
	text-align: left
}
div.expandable h3.toggler {
	background: url("http://mckglobal.com/Connect/CMSO/images/arrow-expandable-closed.png") no-repeat;
	background-position: 98px 0;
	color: #0065BD;
	cursor: pointer;
	font-size: 15px;
	margin-top: 15px;
	padding-left: 114px;
}
.node-inner h2 {
	color: #E37222;
	font-size: 18px;
	font-weight: normal !important;
	line-height: 1.111em;
	margin-top: 5px;
	border-bottom: 0px solid #fff;
	padding: 0px !important
}
.expandable h2 {
	color: #E37222;
	font-size: 16px;
	font-weight: normal !important;
	line-height: 1.111em;
	margin-top: 8px;
	border-bottom: 0px solid #fff;
	padding: 0px !important
}
/*.node-inner h3 {
	color: #E37222;
	font-size: 16px;
	line-height: 1.111em;
	margin-top: 10px;
	font-weight: normal !important;
}*/
.togbox {
	margin-left: 100px;
	margin-bottom: 15px
}
div.expandable {
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}
div.expandable img {
	float: left;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-top: 10px;
}
.show-title {
	border-bottom: 2px solid #EBEBEB;
	color: #444444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: normal;
	line-height: 1.067em;
	margin-bottom: 15px;
	margin-top: 5px;
	padding: 0 0 20px;
}
.pager-load-more {
	background-color: #FBFBFB;
	background-image: -moz-linear-gradient(center top, #FFFFFF, #F5F5F5);
	background-repeat: repeat-x;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	margin: 0 0 18px;
	padding: 2px 14px;
	height: 30px;
	display: block
}
.pager-load-more a {
	margin-top: 10px;
	color: #0074BD !important;
	background: url("../images/add.png") no-repeat scroll 0 center transparent;
	line-height: 30px;
	padding-left: 15px;
}
.node-inner embed {
	border: 1px solid #ccc;
	padding: 0px
}
.search-snippet-info {
	margin-right: 15px
}
.search-snippet-info #mediaplayer1, .search-advanced {
	display: none
}
.search-snippet-info {
	padding-left: 0px !important;
}
.page-search .title, .page-search #search-form, .page-search .breadcrumb {
	display: none !important
}
.profile {
	margin-top: 20px;
}
.profile h3 {
	font-size: 16px;
	color: #333333;
	margin-bottom: 15px;
	width: 490px;
	border-bottom: none;
}
.profile h3 span {
	font-size: 13px;
	text-transform: uppercase;
	color: #939d98;
	font-family: Georgia, "Times New Roman", Times, serif
}
.pro_left {
	width: 100px;
	float: left;
}
.pro_left img {
	border: 1px solid #DDD;
	padding: 3px;
}
.pro_right {
	width: 400px;
	float: left;
}
.pro_right p {
	width: 490px;
}
.pro_right a {
	color: #2175bf; /*blue text*/
	text-decoration: none;
}
#contacts {
	margin-top: 100px;
	border-top: 1px dotted #CCC;
	width: 555px;
	padding-top: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#contacts ul {
	margin-top: 20px;
}
#contacts ul li {
	margin: 15px 0px
}
#contacts a, #contacts ul li a {
	text-decoration: none;
	color: #2175BF;
	font-size: 12px
}
#contacts span {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	font-weight: bold;
	margin-bottom: 5px
}
.subpage #contacts {
	width: 275px
}
#content .button a {
	float: right;
	background: #2175BF;
	color: #FFF;
	padding: 10px;
	clear: left;
	font-size: 1.1em;
}
#content .button a .raquo {
	color: #B4D9FA;
}
#headline #features .background-title {
	font-size: 180px;
	position: absolute;
	z-index: -1;
	color: #2366ae;
	right: -5px;
	display: block;
	bottom: -50px;
}
#headline #features big {
	font-size: 24px;
	line-height: 30px;
}
#content .button a:hover {
	text-decoration: none !important;
	background: #00ADEF;
}
#content-header .title {
	display: none;
}
#special {
	width: 195px;
	margin-top: 20px;
}
#special img {
	margin-bottom: 0;
	border: 1px solid #DDDDDD;
	padding: 3px;
}
#special p {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #939d98;
}
#special p span {
	font-style: italic;
	color: #939d98;
}
#special p {
	margin-bottom: 3px;
}
#special h4 a {
	color: #333;
	font-weight: normal;
}
#special h4 a:hover {
	text-decoration: underline !important;
}
#thumbs {
	margin-top: 20px;
	border-top: 1px dotted #CCC;
	width: 610px;
	padding-top: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#thumbs h4 {
	font-size: 16px;
	margin-top: 10px
}
.thumb {
	width: 305px;
	height: 200px;
	float: left
}
#navigation #secondary {
	color: #0065BD;
	font-size: 13px !important;
	height: 40px;
	list-style-type: none;
	font-weight: bold;
	line-height: 40px;
	padding-left: 10px;
	display: block;
	width: 100% !important
}
#navigation #secondary li {
	float: left;
	display: inline;
	padding-right: 15px;
	margin-right: 15px;
}
#navigation #secondary a {
	display: inline-block;
	cursor: pointer;
	color: #2175BF;
	font-family: Arial, Helvetica, sans-serif;
}
#navigation #secondary .first {
	color: #ADAEAB;
	margin-left: 10px;
	margin-right: 10px;
}
#navigation #secondary .active a {
	color: #E37222 !important;
}
.SI-FILES-STYLIZED div.form-managed-file input.form-submit {
	position: relative;
	top: -22px;
	left: 120px;
	height: 17px;
	color: #fff;
	z-index: 999;
	display: block;
	visibility: visible;
	border-top: solid 1px #e5e5e5;
	border-left: solid 1px #e5e5e5;
	border-right: solid 1px #dcdcdc;
	border-bottom: solid 1px #dcdcdc;
	padding: 1px 0 2px 0;
	margin: 3px 1px 1px 1px;
	font-size: 11px;
	background-color: #2175BF;
	width: 57px;
}
.SI-FILES-STYLIZED div.form-managed-file {
	height: 22px;
	background: url(/events/gtlc2012/files/btn-choose-file.gif) 20px 0 no-repeat;
	display: block;
	overflow: hidden;
	cursor: pointer;
}
.SI-FILES-STYLIZED div.form-managed-file span.file a {
	position: relative;
	top: 18px;
}
.SI-FILES-STYLIZED div.form-managed-file input.form-file {
	position: relative;
	height: 100%;
	width: auto;
	opacity: 0;
	-moz-opacity: 0;
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
div.tabs {
	float: right;
}
/* GTLC Message Sending CSS */
div.bio .content, div#node-10 div.request-container div.bio div.content, div#node-10 div.request-container div.bio:hover div.content {
	float: right;
	background-color: #F1F3F7;
	padding: 1px;
	margin: 0 0 1px 0;
	height: 73px;
	overflow: hidden;
	font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F1F3F7', endColorstr='#F0F9FF');
	background: -webkit-gradient(linear, left top, left bottom, from(#F1F3F7), to(#F0F9FF));
	background: -moz-linear-gradient(top, #F1F3F7, #F0F9FF);
}
div.bio:nth-child(2n+1) div.content {
	background-color: #F1F5FF;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E5FF', endColorstr='#E0EDF0');
	background: -webkit-gradient(linear, left top, left bottom, from(#E1E5FF), to(#E0EDF0));
	background: -moz-linear-gradient(top, #E1E5FF, #E0EDF0);
}
#confirmation-form, #mtg-req-form {
	font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
}
#confirmation-form input[type~=submit], #mtg-req-form input[type~=submit] {
	cursor: pointer !important;
	font: 14px/1.1 Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
	height: 24px;
	line-height: 18px !important;
	padding: 2px;
	margin: 1px;
	color: #004D7F;
	display: block;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0', endColorstr='#f0f0f0');
	background: -webkit-gradient(linear, left top, left bottom, from(#d0d0d0), to(#f0f0f0));
	border: solid 1px #ccc;
	background: -moz-linear-gradient(top, #d0d0d0, #f0f0f0);
	background-color: #e0e0e0;
}
#mtg-req-form p {
	padding: 12px 0 5px 0;
	margin: 0;
	color: #57a;
	font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
}
#mtg-req-form {
	margin: 0 0 0 1px;
	border-top: solid 1px #c0c0c0;
	padding: 5px;
	font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
}
#mtg-req-form input {
	margin: 1px;
}
#mtg-req-form input[type~=text] {
	width: 288px;
	height: 21px;
	font-size: 14px;
}
#node-10 div.bio:hover div.content {
	background-color: #E0E7F3;
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E1E5E7', endColorstr='#E0E7F3');
	background: -webkit-gradient(linear, left top, left bottom, from(#E1E5E7), to(#E0E7F3));
	background: -moz-linear-gradient(top, #E1E5E7, #E0E7F3);
}
#request-confirm h2, #request-confirm h3, #request-confirm h4 {
	border: 0 !important;
	padding: 0;
	margin: 10px 0 0 0 !important;
	font-size: 16px !important;
}
.request-header {
	font-size: 18px !important;
	font-weight: normal !important;
	color: #0065BD !important;
	border: 0 !important;
	margin-top: 0 !important;
	font-family: Helvetica, 'Trebuchet MS', Arial, sans-serif;
}
div.request-container, div.main-container, div.request-container, div.request-container div.bio, div.request-container div.bio *,  div.main-container, div.main-container div.bio, div.main-container div.bio * {
	cursor: default !important;
}
div.request-container div.bio:hover h2, div.main-container div.bio:hover h2 {
	background-color: #FFF;
	color: lightSlateGray;
}
div.request-container div.bio:hover div.content, div.main-container div.bio:hover div.content {
	background-color: #E0EDF3;
}
div.request-container div.bio:hover img, div.main-container div.bio:hover img {
	opacity: 1;
}
div.request-container div.bio {
	float: right;
}
.bio {
	padding: 1px 5px 5px 1px;
	vertical-align: top;
	margin: 2px 7px;
	width: 300px;
	height: 75px;
	float: left;
	overflow: hidden;
}
div.bio, div.bio:hover, div.bio * {
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
.bio .pic {
	width: 80px;
	overflow: hidden;
	display: inline;
	float: left;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}
.bio img {
	padding: 1px;
	margin: 0 auto;
	border: solid 1px #e5e5e5;
	opacity: 1;
}
div.bio:hover img {
	opacity: .8;
}
.bio .content a {
	text-decoration: none;
	color: inherit;
}
div.bio h2, div.bio h3, div.bio h4, div.bio h5 {
	padding: 0;
	margin: 0;
	width: 213px;
	overflow: hidden;
	white-space: nowrap;
	font-family: Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 'Trebuchet MS', Arial, sans-serif;
}
.bio h2, div.request-container div.bio:hover h2 {
	color: #789;
}
.bio h2 {
	font-size: 1.2em;
	line-height: inherit;
	background-color: #fff;
	border-bottom: solid 1px #dedede;
	border-right: solid 1px #dedede;
	font-weight: bold !important;
}
div.bio:hover h2 {
	background-color: #f5f7fa;
	color: #57a;
}
div.bio:hover {
	cursor: pointer;
}
.bio h3 {
	font-size: 15px;
	line-height: 16px;
	height: 18px;
	border: 0;
	text-align: right;
	font-weight: normal !important;
	color: #004D7F;
}
.bio h4 {
	font-size: 13px;
	line-height: 14px;
	border: 0;
	font-weight: normal !important;
	text-align: right;
	font-style: italic;
	color: #004D7F;
	height: 15px;
	overflow: hidden;
	margin-bottom: 5px !important;
}
div.bio .content a .expand {
	display: block;
}
div.bio .content .expand:hover, div.bio:hover .expand {
	text-decoration: underline !important;
}
div.bio:hover .expand {
	padding-left: 20px;
}
div.bio:hover div.content {
	background-color: #E1E5E7;
}
/* END GTLC Message Sending */

#navigation #primary li.menu-5373 {
	width: 12% !important;
}
#navigation #primary li.menu-5403, #navigation #primary li.menu-5413, #navigation #primary li.menu-5433 {
	width: 16% !important;
}
.accordion {
	cursor: pointer;
}
.accordion .internal-content div {
	display: none;
}
.fl-right {
	float:right;
}
.expandall, .collapseall {
	width:200px;
	text-align: right;
	color: #005ebc;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 15px;
	cursor: pointer;
}
.collapseall{
	display: none;
}
.expandall span, .collapseall span {
    background: #005ebc;
    color: white;
    font-weight: bold;
    border-radius: 10px;

    font-size:14px;
    
}

.accordion span.mck-icon__carrot-down, .accordion span.mck-icon__carrot-up {
	display: block;
    width: 30px;
    height: 30px;
    color: #005ebc;
    font-weight: bold;
    font-size: 18px;
    float: right;
    position: relative;
    top: 40px;
    margin-right: 30px;
}

.accordion span.mck-icon__carrot-up {
	display: none;
}


/* new homepage stylesÂ */
.front #page { 
	/*margin-top:60px; */
	}
.front #main {
	width:100% !important;
}
.into-text {
    width: 70%;
    margin: 50px auto 30px;
    line-height: 150%;
    text-align: center;
    font-family: HelveticaNeueLight, Arial, Sans-serif;
	max-width:1210px;
	    letter-spacing: .7px;
}

.fourcol-items {
    margin: 53px auto;
    /*width: 1130px;*/
    
}

.fourcol-items .item {
    /*margin-right: 20px;*/
    background: #fff;
    height: auto;
    padding: 30px;
    flex-direction:column;
    min-width: 230px;
    border-radius: 4px;
    max-width: 260px;
    flex-grow: 1;
    margin-right: 10px;
    margin-left: 0;
    list-style-type: none;
}

.mck-portal-more-items__list.fourcol-items {
	justify-content: space-around;
}

.fourcol-items .item h4 {
	text-align:center;
	color:#000;
	font-size: 18px !important;
	/* font-weight:bold; */
	font-family: HelveticaNeueBold;
	width: auto;
	margin: 23px 0 15px 0;
}
.fourcol-items .item p {
	font-size: 15px !important;
	font-family: Arial, HelveticaNeue, Sans-serif !important;
}

.fourcol-items .item.fourth {
    /*margin-right:0;*/
   
}

.fourcol-items .item .circle-icon {
	
width: 70px;
	
height: 70px;
	
margin: -10px auto;
	
border-radius: 50px;
}
.fourcol-items .item .circle-icon span{ 
font-size: 24px;
margin: 10px 10px 0px 22px;
width: 30px;
display:block;	
padding-top: 12px;
font-weight:bold;
display:block;
height:70px;
}

.into-text strong {
    font-size: 24px;
}

.fourcol-items .item.first .circle-icon {
	background-color:#00a4b0;
}
.fourcol-items .item.second .circle-icon {
	background-color:#1972c6;
}
.fourcol-items .item.third .circle-icon {
	background-color:#d4343d;
}
.fourcol-items .item.fourth .circle-icon {
	background-color:#ff7500;
}

.fourcol-items .item.first .circle-icon span {
	color:#008b97;
}
.fourcol-items .item.second .circle-icon span {
	color:#0059ad;
}
.fourcol-items .item.third .circle-icon {
	color:#ad2b32;
}
.fourcol-items .item.fourth .circle-icon {
	color:#e85c00;
}

.threecol-items {
    background: #fff;
    height: 400px;
}

.threecol-items .item.first {
    width: 300px;
}
.threecol-items-inner {
    width: 80%;
    margin: 0 auto;
}

.threecol-items .item {
    width: 350px;
    float: left;
    margin-right: 40px;
}

.threecol-items {
    background: #fff;
    height: 335px;
}

.threecol-items-inner {
    width: 1240px;
    margin: 0 auto;
    padding-left: 40px;
}
.threecol-items .item.first {
    width: 300px;
}

.threecol-items .item {
    width: 430px;
    float: left;
    margin-right: 0;
}

.threecol-items h3 {
    color: #0059ad !important;
    font-family: HelveticaNeueLight, Arial, Sans-serif !important;
    font-size: 30px !important;
    margin-bottom: 40px !important;
    margin-top: 50px !important;
}

.threecol-items a.readbios {
     background: #1972c6;
    width: 200px;
    display: block;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    border-radius: 4px;
    padding: 0;
}

.threecol-items .item.second, .threecol-items .item.third {
    margin-top: 15px;
}
.threecol-items .img-wrap {
    float: left;
}

.threecol-items .name-info {
    float: left;
    width: 60%;
    margin-left: 25px;
}

.threecol-items .row {
    margin-bottom: 20px;
}

/* .name-infop {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
} */

.hyatt-info {
    float: left;
}

.hyatt-section-inner img {
    float: left;
}

.hyatt-info {
    float: left;
    padding: 50px;
    padding-bottom: 0;
    width: 55%;
    padding-right: 0;
}

div.hyatt-section{height:335px;}

.hyatt-section-inner img {
    float: left;
	max-height: 335px;
}

.hyatt-info h3 {
    font-size: 30px !important;
        font-family: HelveticaNeueLight, Arial, Sans-serif !important;
    margin-bottom: 20px !important;
}

.hyatt-info h3 strong {
    color: #d4343d;
}

.hyatt-info h5 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    margin-bottom: 40px;
}

a.getdirections-btn {
 background: #d4343d;
    width: 200px;
    display: block;
    height: 60px;
    text-align: center;
    color: #fff;
    line-height: 60px;
    font-size: 20px;
    border-radius: 4px;
    padding: 0;
    }

.joinus-section {
    background: #1972c6 url('../images/register-bg.png') no-repeat right bottom;
}

.joinus-section-inner {
    width: 960px;
    margin: 0 auto;
    text-align: center;
	    padding: 50px;
    height: 335px;
    color: #fff;
    overflow: visible;
}

.joinus-section-inner h3 {
    color: #fff !important;
    font-size: 18px !important;
    font-family: HelveticaNeueLight !important;
    line-height: 150%;
}

h3.join {
    margin-bottom: 0px !important;
    font-weight: normal !important;
    font-size: 40px !important;
	padding-top:0px;
}

.contactus-section.clearfix {
    background: #002960;
    padding-left: 30px;
}

.contactus-section.clearfix {
    background: #fff;
    padding-left: 30px;
    height: 300px;
}

.contact-left {
    float: left;
    width: 300px;
    margin-right: 100px;
    left: 40px;
    position: relative;
}

.contact-left h5 {
        font-size: 30px;
    font-family: HelveticaNeueLight;
    margin-bottom: 30px;
    margin-left: 0px;
    color: #0065bd !important;
}

.contactus-section-inner {
    padding-top: 70px;
	    width: 1240px;
    margin: 0 auto;
    padding-left: 40px;
}

a.contactus-btn {
    background: #0065bd;
    width: 200px;
    display: block;
    height: 65px;
    color: #fff;
    text-align: center;
	line-height:60px;
    font-size: 20px;
    border-radius: 4px;
    padding:0;
}

hr{border-color:#ccc;}

.contact-right {
    float: left;
    width: 50%;
}

.contact-right .img-wrap {
    float: left;
    margin-right: 30px;
    height: 200px;
}

.contact-info-wrap {
    color: #000;1:300px;
    width: 100%;
}

.contact-info-wrap h5 strong {
    font-size: 20px;
    color: #000;
    padding: 0;
    margin: 0;
}

.contact-info-wrap h5 {
    padding: 0 !important;
    font-size: 16px !important;
}

.position-title {
    margin-bottom: 10px;
    font-size: 16px;
	font-style:italic;
}
.phone-numbers {
    font-size: 18px;
}

a.registernow-btn {
    background: #00aced;
    width: 200px;
    display: block;
    color: white;
    text-align: center;
    margin: 30px auto;
    height: 60px;
	line-height:60px;
	font-size:20px;
    border-radius: 4px;
    padding: 0;
}

#primary {
	float:right;
}

.mck-nav-main {
	top:12px;
}

.newfooter {
    background: #666;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.socialmedia-wrap h4 {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    float: left;
    font-family: HelveticaNeueBold;
    margin-right: 40px;
}

.socialmedia-icons {
    float: left;
    padding-top: 30px;
}

.socialmedia-icons a {
    float: left;
    margin-right: 30px;
    width: 30px;
}
.footerlinks {
    float: right;
    margin-top: 30px;
}

.footerlinks a {
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}
/* end new homepage stylesÂ */


h1 span.h1desc {
	color:#fff;
	font-size: 16px;
    border-left: 1px solid #014282;
    padding-left: 15px;
    width: 70%;
    display: inline-block;
    line-height: 150%;
}

h1 span.h1title {
    float: left;
    color: #fff;
    font-family: HelveticaNeueBold;
font-size: 22px;
font-weight: 300;
    padding: 0px 10px 0 0px;
    margin: 5px 0 20px 0px;
    text-align: left;
    line-height: 1.3em;
>>>>>>> 5ad9533b23b69001e28cc5816aa3d353e93ad30d
}